html {
    background: url(/img/background.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
  }

body {
    width: 960px;
}

h1 {
    font-family: 'Trade Winds', cursive;
    background-color: fuchsia;
    height: 50px);
}

aside {
    border: 2px;
    border-style: solid;
    border-color: black;
    width: 30%;
    float: left;
    margin-right: 20px;
    background-color: cornflowerblue;
}

ul, li {
list-style-type: circle;
}

#bmimages {
    border: 2px;
    border-style: solid;
    border-color: black;
    width: 70%;
    margin: 20px;

}

#saveForButton {
    width: 620px;
    border: 2px;
    border-style: solid;
    border-color: black;
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#instructions {
    border: 2px;
    border-style: solid;
    border-color: black;
    /* position: absolute; */
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
    width: 620px;
    margin-bottom: 20px;
    
}

#imageIndex1 {
    border: 2px;
    border-style: solid;
    border-color: black;
    float: left;
    margin: 2px;
    width:  200px;
    height: 200px;
    background-size: cover;
}

#imageIndex2 {
    border: 2px;
    border-style: solid;
    border-color: black;
    float: left;
    margin: 2px;
    width:  200px;
    height: 200px;
    background-size: cover;
}


#imageIndex3 {
    border: 2px;
    border-style: solid;
    border-color: black;
    float: left;
    margin: 2px;
    width:  200px;
    height: 200px;
    background-size: cover;
}


#imageChart{
    background-color: whitesmoke;
    border: 5px;
    border-style: groove;
}